body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #6c757d;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 20px;
    
}

main h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}


section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section h2 {
    color: #6c757d;
    font-size: 22px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

.container {
    width: 100%;
    /*border: 2px solid #ffffff;*/
}

.portada {
    max-width: 50%; /*No sera mas grande que su contenedor, con % (relativa al contenedor)*/
    height: auto; /*La altura se ajusta automaticamente*/
    display: block; /*Elimina el espacio en blanco debajo de la imagen*/
    margin: 0 auto; /*Centrar la imagen*/
    padding-bottom: 1vw; /*Espacio entre la imagen y el texto*/
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #6c757d;
    color: white;
    margin-top: 20px;
}